# Exclude virtual environment folders
env/
venv/
ENV/
env.bak/
venv.bak/

# Exclude Python bytecode cache
__pycache__/
*.py[cod]
*$py.class

# Exclude .DS_Store (macOS specific)
.DS_Store

# Exclude .lgd-nfy0 file/directory
**/.lgd-nfy0
